

<div class=" m-5 d-flex justify-content-center">
    <div class="card  w-75 ">
        <div class="row">
<div class="col-1">
    <button class="btn" (click)="Tolist()" > <fa-icon class="icon-btn-add" [icon]="fa['faArrowLeft']"></fa-icon> Return </button>  
</div>
<div class="col-11">
    <h3 class="m-3 d-flex justify-content-center"> Detail Blog </h3>
</div>
        </div>

        <div class="card-img-holder">
          <img src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30164213/375.png" alt="Blog image">
        </div>
        <h3 class="blog-title"> {{blog.title}}</h3>
        <span class="blog-time">{{blog.author}}</span>
        <p class="description">
            {{blog.content}}       
        </p>
        <div class="options">
      
          <button class="btn"> <fa-icon class="icon-btn-add" [icon]="fa['faThumbsUp']"></fa-icon></button>  
         <button   class="btn">  <fa-icon class="icon-btn-add" [icon]="fa['faThumbsDown']"></fa-icon></button>
        </div>
      </div>

</div>
