
.card{
    height: auto;
    background: #eff4f4;
    border-radius: 1.5rem;
    padding: 1.5rem;
    overflow: hidden;

  }
  


  .btnAdd{
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 400;
    background: #ffffff;
    color: #22215B;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .input{
    width: 100%;
    background-color: #dde2e2;
    border: 1px solid rgba(0, 0, 0,0.1);
    border-radius: 10px;
    height: 40px;
  }

  .inputA{
    width: 100%;
    background-color: #dde2e2;
    border: 1px solid rgba(0, 0, 0,0.1);
    border-radius: 10px;
    height: 100px;
  }

  .message-erreur {
    color:red
  }