
<div class="card m-3">
    <p>add-blog works!</p>
    <form [formGroup]="blogForm"  (ngSubmit)="ajouter()">
        <div class="row">

            <div class="col-6">
                <label> Title</label>
                <input type="text" class="input" placeholder="Title"  formControlName="title" required >
                <div *ngIf="blogForm.controls['title'].hasError('required')" class="message-erreur">
                    <fa-icon [icon]="fa['faExclamationTriangle']"></fa-icon>
                     Title required!
                </div>


               
            </div>
            <div class="col-6 ">
                <label> Author</label>
                <input type="text" class="input" placeholder="Author"   formControlName="author" required>
                <div *ngIf="blogForm.controls['author'].hasError('required')" class="message-erreur">
                    <fa-icon [icon]="fa['faExclamationTriangle']"></fa-icon>
                   Author required!
                </div>


            </div>  
    
    
        </div>
        <div class="row mt-2">
    
            <div class="col-12">
                <label> Content</label>
                <textarea type="text" class="inputA" placeholder="Content" formControlName="content"  required > </textarea>
                <div *ngIf="blogForm.controls['content'].hasError('required')" class="message-erreur">
                    <fa-icon [icon]="fa['faExclamationTriangle']"></fa-icon>
                    content required!
                </div>
            </div>
        
    
    
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <button class="btnAdd" type="submit" [disabled]="!blogForm.valid"  >  Add  Blog    <fa-icon class="icon-btn-add" [icon]="fa['faPlus']"></fa-icon></button>
            </div>
        
    
    
        </div>
    </form>
  
</div>