

<div class="row m-5 ">
    <div class="col-12 ">

        <div class="row  ">
        <div class="col-4">
            <h4 class="d-inline m-3">Blogs</h4>
        </div>    
        <div class="col-4  ">
            <input type="text" class="search" placeholder="Search"  [(ngModel)]="search"  (change)="filter($event)" >

        </div>  
        <div class="col-4  d-flex justify-content-center ">
            <button class="btnAdd" (click)="toAddBlog()">  Add new Blog    <fa-icon class="icon-btn-add" [icon]="fa['faPlus']"></fa-icon></button>

        </div>  
        


        </div>

        <ng-container *ngIf="showLoader" class="centered">
          <div class="preloader  d-flex justify-content-center  " >
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
        </div>
        </ng-container>
        <div class="row m-3 d-flex justify-content-around "  *ngIf="!showLoader">


            <div class="card my-2" ng *ngFor="let blog of blogs" [ngClass]="{'upVote': blog.upVoteNumber >  blog.downVoteNumber, 'downVote': blog.upVoteNumber <  blog.downVoteNumber }">
                <div class="card-img-holder">
                  <img src="https://cdn.logojoy.com/wp-content/uploads/2018/05/30164213/375.png" alt="Blog image">
                </div>
                <h3 class="blog-title">{{blog.title}}</h3>
                <span class="blog-time">{{blog.author}}</span>
                <p class="description">
                  {{  blog.content.substr(0,120)}} ...
                </p>
                <div class="options">
                  <span (click)="ToDetails(blog.id)">
                    Read Full Blog
                  </span> 
                  {{blog.upVoteNumber}} <button class="btn" (click)="vote(blog,'up')"> <fa-icon class="icon-btn-add" [icon]="fa['faThumbsUp']"></fa-icon></button>  
                  {{blog.downVoteNumber}} <button   class="btn" (click)="vote(blog,'down')">  <fa-icon class="icon-btn-add" [icon]="fa['faThumbsDown']"></fa-icon></button>
                </div>
              </div>
        </div>
    </div>
</div>
