@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');



  *{
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    font-family: 'Rubik', sans-serif;
  }
  
  *, *:after, *:before{
    box-sizing: border-box;
  }
  
  html{
    position: relative;
    overflow: hidden;
    font-size: 16px;
  }
  
  @media screen and (max-width: 768px) {
      html {
          font-size:15px
      }
  }
  
  @media screen and (max-width: 465px) {
      html {
          font-size:14px
      }
  }
  
  

.card{
  width: 25rem;
  height: auto;
  background: #eff4f4;
  border-radius: 1.5rem;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
  
}

.upVote{
border:0.2px solid #04e02959;
box-shadow: #04e02959 0px 5px 15px;
}


.downVote{
  border:0.2px solid #e00b0459;
  box-shadow: #e00b0459 0px 5px 15px;

  }

.card-img-holder{
  width: 100%;
  height: auto;
  position: relative;
}

.card-img-holder img{
  width: 100%;
  height: auto;
  max-height: 15rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.blog-title{
  color: #22215B;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.description{
  padding: 1rem 0;
  color: #22215B80;
  font-size: 1rem;
}

.blog-time{
  font-size: .8rem;
  color: #22215B;
}

.options{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.options span{
  font-weight: 600;
  color: #22215B;
}

.btn{
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-weight: 400;
  background: #ffffff;
  color: #22215B;
  cursor: pointer;
}

.btnAdd{
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 400;
    background: #ffffff;
    color: #22215B;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

.search{
  border: 1px solid rgba(0, 0, 0,0.1);
    border-radius: 10px;
    width: 400px;
    height: 40px;
}


